body{
    background-color:#F0F0FF;
    background-image:linear-gradient(to left, #F0F0FF 0%, #F0F0FF 50.75%, #5f5d7e 50.75%, #5f5d7e 100%) ;
}
.container {
    width: 95%;
    
}
.card-right{
    background-color:#F0F0FF;
    
}
h1{
    font-weight: 900;
}
.btn{
    background-color: #5f5d7e;
    border-radius: 5px;
    padding: 10px 35px;
}
form{
  
  background-color 
}
.form-group{
    background-color: ;
}

.cover{
    width:80px;
    height:80px;
    object-fit: cover;
    object-position:center;
    border-radius:50%;
    margin-top:1rem;
    /* border: 1px black solid; */
    

}
.p-5{
    padding: 0.5rem 3rem !important;
}
