/* ========
body
=========== */
body{
    background-color:#F0F0FF;
    color: black;
    background-image:linear-gradient(to left, #F0F0FF 0%, #F0F0FF 50.75%, #5f5d7e 50.75%, #5f5d7e 100%) ;
}
.container {
    width: 95%;
    
}
.card-right{
    background-color:#F0F0FF;
    
}
h1{
    font-weight: 900;
}
.btn{
    background-color: #5f5d7e;
    border-radius: 5px;
    padding: 10px 35px;
}
form{
    background-color: light;
}

.cover{
    width:80px;
    height:80px;
    object-fit: cover;
    object-position:center;
    border-radius:50%;
    margin-top:1rem;
   
    

}
.p-5{
    padding: 0.5rem 3rem !important;
}

     /* ============
    INCIDENTS
    ============ */
.heading{
    color: black;
}
.card-body{
    font-size:12px;
}
.avatar{
    width:39px;
    height:39px;    
    object-fit: cover;
    object-position:center;
    border-radius:50%;
    margin-bottom:0px;
    margin-top: 5px;
   
}
table{
     width:100%;
   
}

th{
    text-align:center
}
td{
    text-align:center
}
table th,
table td {
  padding-right:1rem !important;
  padding-left:1rem !important;
  
}
.name{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 0 !important ;
    padding-left:0.5em;
}
.action{
    
    padding:10px;
    border-radius: 10%;


}
/*===========
    sidebar
    ===========
 */
ul{
    padding: 0px ;
}

.sidebar-dark .nav-item .nav-link {
    color: rgba(255,255,255,.8);
    padding:0.75rem;
    padding-left: 1rem;
    
    
}
.sidebar{
    background-color:#5f5d7e;
   
}

/* ========
top bar
========= */
.topbar
{
   background-color:#F0F0FF;
   
}
.topbar-1{
    display:flex;
   flex-direction:row;
   justify-content: space-between;
}
.heading{
    color:#5f5d7e
}
.media{
    display:flex
}
.avatar-1{
    width:30px;
    height:30px;    
    object-fit: cover;
    object-position:center;
    border-radius:50%;
   
}
.dropdown-menu,
.dropdown-menu-right{
    width: 210px;
}
/* ========
incidents tab
========= */
.nav-item{
    display: inline;
}
.btn-given{
     margin-left: 1em;
}

.btn-given:hover{
    background-color:#3c3cfc !important;
}
.btn-inc{
    margin-right: 1em;
    margin-bottom:0.75em;
}
.btn-inc:hover{
    background-color: #f74040 !important;
}
.btn-received:hover{
    background-color: #4e4d6b;
}
.body-overlay{
    background-image:linear-gradient(to left,#5f5d7e  0%, #5f5d7e 50.75%, #5f5d7e 50.75%, #5f5d7e 100%) ;
   
}
.sidebar-card{
   
    position:fixed;
    top:0;
    right:0;
    height:100%;
    opacity:1;
    z-index:2;

}
.body-overlay{
    
    position: relative;
}
.body-overlay::after{
    content:'l';
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.423);
    opacity:1;
    z-index:1;
}
.inc-search-modal{
   
    padding:0.5em 6em ; 
    width:100%;
    border: 1px solid rgb(235, 231, 231);
    border-radius:5px;
    margin-left:2em;
   
  
}
.rating-star{
    padding:0.5em 7em ; 
    width:100%;
    
    
    margin-left:2em;
}





/* ===========
Evaluations
============= */

.thead-evaluations{
    font-size:0.63rem;
}
.table-evaluations td{
    font-size:1.2em;
}


.dot{
    width:6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}
.btn-eval{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    margin-right:0.5em;

}
.tab{
    border-bottom: 1px solid #ccc;
    padding-bottom:5px;
  }

.tab .btn {
    cursor: pointer;
    padding: 10px 15px;
}
  
.tab .btn:hover {
    background-color:#fff !important;
    border: 4px solid #5f5d7e ;
    border-bottom:none;
    font-weight:600;
}
  
  .tab .btn.active {
    background-color: #fff;
    border: 4px solid #838292 ;
    border-bottom:none;
   
}
/* .input-group{
 
   
    border-bottom: 1px solid #ccc;
   
    padding-top:4px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width:100%;  */

/* .form-control{
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;
    border-radius: 0;
   
} */



    

  
  .search-input {
    height: 36px;
    width: 110px;
    border:none;
    
    font-size: 12px;
  }
.bg-dark,
.btn-dark{
    background-color: #5f5d7e !important;
}


   
.eval-search{
    width:100%;
    
    display: flex;
    align-items: center;
    justify-content:center;
}
.selector{
    width:360px;
    

}
#selectField{
    width:100%;
    padding:15px;
    padding-bottom:0px;
    margin-bottom: 0px;
    margin-left: 2px;
    box-sizing: border-box;
    background-color:#fff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
}
#selectField i{
    width: 12px;
}
#selectText{
    color: #888484;
}
#list{
    position:fixed;
    width:23.45%;
    margin-left: 6.5em;
    background-color:#fff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    overflow:visible;
    z-index: 1;
}
.options{
   
    padding: 5px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}


.options:hover{
    background-color: rgb(238, 234, 234);
}
.hide{
    
    
    display:none;
    overflow: visible;
}
.date-picker{
    padding-bottom:25px;
    padding-top: 12px;
    margin-left:3.2em;
    margin-right: 0.5em;
}
.avatar-eval{
    width:25px;
    height:25px;    
    object-fit: cover;
    object-position:center;
    border-radius:50%;
   
}
/* =============
EVAL FORM 
=========== */
.eval-form-body{
    background-color: #F8F9FC;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
}
.btn-prev{
    padding: 5px 11px;
}

/* =======
COMPLETED EVAL
======== */
.icon.icon-sm{
    font-size: 0.98438rem;
    width:2.1875rem;
    height:2.1875rem;
}
.icon-soft-secondary{
    color:#71869d;
    background:rgb(221, 217, 217);
}
.icon-circle{
    border-radius: 50%;
}
.card{
    border: 0.0625rem solid rgba(231, 234, 243, 0.7);
    border-radius: 0.75rem;
}
.media-eval{
    border-right: solid 1px rgb(172, 168, 168);
}
.avatar-employee{
    height:46px;
    width:46px;
    border-radius:50%;

}
.avatar-supervisor{
    height: 40px;
    width: 40px;
    border-radius:50%;
}
.custom-modal .modal-dialog {
    max-width: 1200px;
} 
.punctuality-table-head{
    font-size: 12px;
} 



    


    
